<ion-header [translucent]="true">
 
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon name="log-out-outline" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title >
      İki Doğu İki Batı
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <div class="conteiner">
    <div class="fixed">
     

 
        <ion-item >
          <ion-avatar slot="start">
            <img src="../../assets/logo.png">
          </ion-avatar>
          <ion-label>
            <h2>{{userData.adi_soyad}}</h2>
            <h3>{{userData.unvan}}</h3>
          
          </ion-label>
        </ion-item>
         
        
      

      <ion-searchbar [(ngModel)]="searchWord" (ionChange)="getData(searchWord)"></ion-searchbar>
    </div>
    <div class="list">
      <ion-card>
        
     
      <ion-list >

        <!-- Multi-line sliding item with icon options on both sides -->
        <ion-item-sliding id="item100" *ngFor="let item of todoneList">
          <ion-item (click)="detailsOpen(item)">
            <ion-label>
              <h2>{{item.isin_adi}}</h2>
              <p>{{item.adi_soyad}}</p>
              
            </ion-label>
            <ion-note slot="end">
              {{item.y_saat}}
            </ion-note>
          </ion-item>

         

          <ion-item-options side="end">
            <ion-item-option color="danger">
              <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-item-option>
            <ion-item-option>
              <ion-icon slot="icon-only" name="star"></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>

      </ion-list>
    </ion-card>
  </div>


  </div>
  <ion-fab class="addBtn" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addList()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
