<ion-header [translucent]="true">
  <ion-toolbar>
    
    <ion-buttons slot="primary">
      <ion-button color="secondary" (click)='dismiss()'>
        <ion-icon name="close-circle-outline" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Kayıt işlemi</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">

  <ion-item>
    <ion-label position="floating">Ad Soyad</ion-label>
    <ion-input [(ngModel)]="name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Ünvan</ion-label>
    <ion-input [(ngModel)]="title"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input [(ngModel)]="email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Sifre</ion-label>
    <ion-input type="password" [(ngModel)]="password"></ion-input>
  </ion-item>
  <div class="btn">
    <ion-button shape="round" class="logBtn" [disabled]="!email || !password || !name || !title"(click)="Save()">Kaydet</ion-button>
    
  </div>
</ion-content>
