/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

ion-toolbar{
    --border-style:none;

    ion-title{
        text-align: center;
        color:black;
    }
    
}

.btn{
    
    justify-self: end;
    text-align: center;
    width: 95%;
    margin-top: 40px;
}
.logBtn{
    width: 45%;
    
}

ion-toolbar{
    --border-style:none;
  }
.logo{
    margin-top: 20%;
    text-align: center;
    img{
        width: 350px;
        height: auto;
    }
}
.addBtn{
    margin-bottom: 20px;
}
.conteiner{
    display: flex;
    flex-direction: column;
}
.fixed{
    width: 100%;
    background-color: aliceblue;
    position: fixed;
    z-index: 2;
    ion-item{
        
        padding: 5px;
    
        border-radius: 20px;
        --border-radius: 20px;
        
        ion-label{
            font-size: large;
            height: 50px;
            h2{
                font-size: 20px;
                color: black;
            }
        }
    }
}
.list{
    margin-top: 150px;
}

